<div class="modal" id="modal-favorite">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Favorites</p>
      <button class="delete toggle-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="favs">
      </div>
    </section>
  </div>
</div>