<div class="modal" id="modal-favorite">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Favorites</p>
      <button class="delete toggle-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div  id="favs">
      {{!-- <section class="section">
        <div class="card is-collapsed">
          <header class="card-header">
            <p class="card-header-title">
              Title
            </p>
            <a class="card-header-icon">
              <span class="icon">
                <i class="fa fa-angle-down"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content notification">
              <small>Summary</small>
              <nav class="level is-mobile">
                <div class="level-left">
                  <span class="level-item" aria-label="tag">
                    <span class="tag is-info is-normal">World</span>
                  </span>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
                <div class="level-right">
                  <p class="level-item">
                    <span><small><i class="far fa-calendar-alt"></i></small>&nbsp;<small>Jan 01, 2019</small></span>
                  </p>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </section> --}}
      </div>
    </section>
  </div>
</div>