<div class="modal" id="modal-post">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p id="title" class="modal-card-title">{{title}}</p>
      <button class="delete toggle-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="posts">
      </div>
      </br>
      <form class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea id="comments" name="comments" class="textarea" placeholder="Add a comment..."
                required></textarea>
            </p>
          </div>
          <div class="field is-grouped">
            <p class="control has-icons-left">
              <input id="name" class="input" name="name" type="text" placeholder="Name" required>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
            <p class="control">
              <a id="submit" class="button">
                Post Comment
              </a>
            </p>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>